/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../content/images/Picture.jpg') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/Picture.jpg') no-repeat center top;
    background-size: contain;
  }

 .dropdown {
   display: inline-block;
   position: relative;
 }
 .dropdown-content {
   display: none;
   position: absolute;
   width: 100%;
   overflow: auto;
   box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
 }
 .dropdown:hover .dropdown-content {
   display: block;
 }
 .dropdown-content a {
   display: block;
   color: #000000;
   padding: 5px;
   text-decoration: none;
 }
 .dropdown-content a:hover {
   color: #FFFFFF;
   background-color: #00A4BD;
 }
}
